* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./images/merlin_212276709_3104aef5-3dc4-4288-bb44-9e5624db0b37-superJumbo.webp);
  background-size: cover;
}

.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
}

ul li {
  display: inline-flex;
  list-style-type: none;
  font-weight: bold;
  padding: 10px 20px;
  background-color: rgba(68, 68, 68, 0.732);
  border-radius: 30px;
}

a {
  text-decoration: none;
  color: rgba(245, 142, 86, 0.67);
}

a:hover {
  color: rgb(245, 142, 86);
  transition: 0.2s;
}

.main-body {
  text-align: center;
  color: rgba(255, 161, 110, 0.91);
  padding-top: 10%;
  padding-bottom: 10%;
}

.main-header {
  letter-spacing: 1px;
}

h1 {
  background-color: rgba(68, 68, 68, 0.732);
  color: rgba(255, 161, 110, 0.91);
  font-size: 80px;
  border-radius: 30px;
  padding: 15px;
}

#pic {
  border-radius: 40%;
  height: auto;
  width: 500px;
  margin-left: 180px;
  margin-bottom: 300px;
}
